{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

/* This css centers at the middle of the screen */
#container {
    height: 100%;width: 100%;
	background-image:  url("../html/overlay.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small {
	font-size: 25px;
}