#viewedmsg,
#landing,
#inbox,
#sendmsg,
#adressbook {
    width: 16vw;
    position: absolute;
    top: 15vw;
    left: 50%;
    height: 2vh;
    border: 1px solid black;
}

.container {
    /* background: grey; */
    background-image: url("img/HDGV2.png");
    width: 50%;
    height: 55%;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 15vw;
    left: 35vw;
    /* border: 1px solid black; */
}

#submit2 {
    height: 2vw;
    width: 5vw;
    margin-top: 16vw;
    margin-left: -9vw;
    border: solid transparent;
    background: url('img/HDGV2.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
}

#saveinfo {
    height: 3vw;
    width: 5vw;
    margin-top: 1vw;
    margin-left: 20.5vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
    float: left;
}

#deleteadress {
    height: 4vw;
    /*width: 5vw;*/
    margin-top: -18vw;
    margin-left: 29.5vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
    float: left;
}

#submit5 {
    height: 3vw;
    width: 9vw;
    margin-top: 5vw;
    margin-left: 8vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
    float: left;
}

#submit3 {
    height: 2vw;
    width: 5vw;
    margin-top: -2.5vw;
    margin-left: 27.5em;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
}

#name {
    text-align: left;
    margin-top: 4vw;
    margin-left: 19vw;
    float: left;
}

#adress {
    text-align: left;
    margin-top: 15vw;
    margin-left: -9.2vw;
}

.submit {
    height: 2vw;
    width: 5vw;
    margin-top: 2.5vw;
    margin-left: 34.5vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin-left: 7vw;
    margin-top: 0vw;
    padding: 10px;
    height: 15vw;
    width: 35vw;
    overflow: auto;
    overflow-y: scroll;
    float: left;
    grid-template-columns: repeat(3, 1fr);
}

.grid-container>div {
    background: url('img/toast.png') !important;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    list-style-type: none;
}

#viewmsgbutton {
    background: url('img/toast.png') !important;
    background-size: 98% 38%!important;
    padding: 20px;
    text-align: center;
    border: none;
    font-size: 20px;
    list-style-type: none;
    color: maroon;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: url('img/toast_bg.png') !important;
    background-size: 100% 100%!important;
}

::-webkit-scrollbar-thumb {
    background: url('img/bgPanel.png') !important;
    background-size: 100% 100%!important;
}

::-webkit-scrollbar-thumb:hover {
    background: url('img/buttonv.png') !important;
    background-size: 100% 100%!important;
}

#box3 {
    margin-left: -15vw;
    margin-top: 11vw;
    float: left;
    /* add this */
    width: 20vw;
    height: 10vw;
    resize: none;
    background: transparent;
    border: solid 1px maroon;
}

#list2 {
    font-size: 15px;
    color: rgb(7, 6, 6);
    font-weight: 300;
    margin-left: 8em;
    margin-top: 12%;
    list-style-type: none;
    max-width: 690px;
    word-wrap: break-word;
    overflow: auto;
    overflow-y: scroll;
    height: 13vw;
    width: 45vw;
}

#letters {
    margin-left: 10vw;
    margin-top: 6vw;
    /* float: left;  */
}

#body {
    margin-left: -8vw;
    margin-top: 9.5vw;
    float: left;
    /* add this */
}

#playerid {
    margin-left: 20vw;
    margin-top: 5vw;
    float: left;
    /* add this */
}

#adressbook2 {
    margin-left: 20vw;
    margin-top: 5vw;
    float: left;
    /* add this */
}

#adressbook3 {
    margin-left: -9vw;
    margin-top: 9.5vw;
    float: left;
}

#adressbook4 {
    margin-left: -9vw;
    margin-top: 6vw;
    float: left;
}

#adressbook1 {
    height: 5vw;
    width: 7vw;
    margin-top: 5vw;
    margin-left: -28vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    float: left;
    /* add this */
    color: maroon;
}


/* Dropdown Button */

#dropbtn {
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
    text-align: center;
    font-size: 1vw;
    border: none;
    width: 10vw;
    height: 2vw;
    margin-left: -8vw;
    margin-top: 7vw;
    float: left;
    /* add this */
}

#dropbtn2 {
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
    text-align: center;
    font-size: 1vw;
    border: none;
    width: 10vw;
    height: 2vw;
    margin-left: -10vw;
    margin-top: 7vw;
    float: left;
    /* add this */
}


/* The container <div> - needed to position the dropdown content */

#dropdown {
    background-color: #ab1b1b;
}

#landingtitle {
    margin-left: 10vw;
    margin-top: 5vw;
    /* float: left;  */
}

#newmail {
    height: 10vw;
    width: 10vw;
    margin-top: 2vw;
    margin-left: 33vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    float: left;
    /* add this */
    color: maroon;
}

#checkmail {
    height: 5vw;
    width: 7vw;
    margin-top: 5vw;
    margin-left: -36vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    float: left;
    /* add this */
    color: maroon;
}

#sendmsg2 {
    height: 5vw;
    width: 7vw;
    margin-top: 5vw;
    margin-left: -20vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    float: left;
    /* add this */
    color: maroon;
}

#close {
    height: 2vw;
    width: 7vw;
    margin-top: 1vw;
    margin-left: 36vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    float: left;
    /* add this */
    color: maroon;
}

#submit4 {
    height: 2vw;
    width: 5vw;
    margin-top: 21.5vw;
    margin-left: -3vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
}

#submit6 {
    height: 2vw;
    width: 5vw;
    margin-top: -2vw;
    margin-left: 10vw;
    border: solid transparent;
    background: url('img/toast.png') !important;
    background-size: 100% 100%!important;
    color: maroon;
    float: left;
}